*
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::placeholder{
    color:rgba(250, 252, 253, 0.383);
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.pwd_settings
{
    background: linear-gradient(rgba(255, 255, 255, 0.218), rgba(255, 255, 255, 0.24));
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    border-radius: 5px;
    z-index: 1;
    top: 13vh;
    right: 43vh;
    position: absolute;
    border: 1px solid white;
    display: flex;
    backdrop-filter: blur(10px);
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pwd_settings img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
}

.passwords input
{
    width: 60vh;
    display: flex;
    flex-direction: column;
    height: 10vh;
    margin: 10px;
    padding-left: 10px;
    outline: none;
    background: none;
    letter-spacing: 1px;
    color: aliceblue;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    transition-duration: 0.25s;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.229);
}

.passwords input:focus
{
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.43);
}

.button button{
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.386), rgba(255, 255, 255, 0.455));
    color: rgba(251, 243, 243, 0.921);
    padding: 8px;
    font-size: 20px;
    width:  100px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 1px black;
    transition: 0.4s;
    margin: 5px;
}

.button button:hover{
    box-shadow: 0px 0px 8px 1px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 120px;
    letter-spacing: 1px;
}

.question_mark button
{
    position: absolute;
    right: 30px;
    bottom: 161px;
    height: 35px;
    width: 35px;
    font: bolder;
    color: rgb(240, 248, 255);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.115);
    font-family: 'poppins', sans-serif;
    border-radius: 30px;
    background: none;
    border: 2px solid black;
    transition: 0.3s;
}

.question_mark button:hover{
    background-color: rgba(255, 255, 255, 0.644);
    color: rgba(0, 0, 0, 0.971);
    border: 2px solid white;
}

.small_main .overlay{
    position: fixed;
    width: 100%;
    height: 110vh;
    z-index: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small_main
{
    width: 100%;
    height: 110vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.251);
    backdrop-filter: blur(15px);
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

.pwd_stats_box
{
    position: absolute;
    padding: 15px;
    width: 500px;
    height: 270px;
    border-radius: 10px;
    border: 1.5px solid white;
    display: flex;
    align-items: center;
    background: rgba(19, 0, 128, 0.436);
    justify-content: center;
    backdrop-filter: blur(8px);
    flex-direction: column;
}

.pwd_stats_box h3
{
    border-bottom: 2px solid yellow;
    padding: 5px 5px 1px 5px;
    color:crimson ;
}

.pwd_stats_box ul li, .pwd_stats_box{
    list-style-type: square;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: "poppins", sans-serif;
}

.pwd_stats_box .buttons button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 255);
    color: aliceblue;
    outline: none;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 1px;
}
