*{
    padding: 0;
    margin: 0;
}

body { margin: 0; padding: 0; }
#map { width: 100%; }

::placeholder{
    color:rgb(0, 179, 255);
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 8px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.body{
    overflow: hidden;
    height: 100%;
    width: 1261px;
}

.main{
    height: fit-content;
    background-image:url(/images/vector-buildings-silhouette-cityscape-background-modern-architecture-urban-city-landscape.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 534px;
    width: 100%;
    overflow: hidden;
}

.box{
    padding: 10px;
    border-radius: 8px;
}

.form{
    float: left;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.box body:focus ~ span,
.inputs input:focus ~ span,
.inputs input:valid ~ span{
    transform: translateX(10px) translateY(-15px);
    border-left: 1.5px solid cyan;
    border-right: 1px solid cyan;
    background-color: black;
    font-size: 0.55em;
    transition-duration: 1s;
    padding: 2px;
    transition-timing-function:cubic-bezier(1, 0, 0, 1);
}

.inputs input, .form input{
    width: 250px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.431);
    border: none;
    border-style: none;
    border-radius: 5px;
    color: rgb(0, 253, 21);
    letter-spacing: 1.5px;
    font-size: 15px;
    padding: 8px;
    outline: none;
    font-family: 'Outfit', sans-serif;
    position: relative;
    font-weight: bold;
}

.inputs span{
    color: rgb(72, 194, 246);
    position: absolute;
    right: 222px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 15px;
}

.box{
    background-color: rgba(0, 0, 0, 0.552);
    height: 80vh;
    backdrop-filter: blur(4px);
    box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.901);
    border-radius: 20px;
    border: 1.2px solid rgba(0, 0, 0, 0.387);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.button button{
    background-color: none;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 3, 87);
    letter-spacing: 1px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    border: 1.5px solid rgb(0, 0, 0);
    box-shadow: 0 0 3px 1px rgb(11, 11, 11);
    transition: 0.3s;
}

.button button:hover{
    background-color: rgb(26, 246, 30);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 15px 0 rgb(0, 0, 0);
    font-size: 16px;
    font-style: italic;
    border: 1.5px solid rgb(26, 246, 30);
}